body {
  font-family: Verdana;
  background-color: Black;
  text-align: center;
}

h1 {
  font-weight: normal;
  font-size: 50px;
  color: White;
  text-align: center;
}

h2 {
  font-weight: 300;
  font-size: 42px;
}

.toplink {
  color: Aquamarine;
  font-size: 16px;
}

.sp {
  font-size: 21px;
  color: Gray;
}

.endlink {
  text-align: Right;
  color: Gray;
}
